div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    height: 100% !important;
    text-align: center;
}

p-table {
    width: 99%;
}

.nombreEstado {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: -0.5rem;
    width: max-content;
}

::ng-deep {
    .ancho {
        max-width: fit-content !important;

        i {
            width: 1.3rem;
            background-color: red;
            border-radius: 11px;
            text-align: center;
            padding: 2px;
        }
    }

    .dialogContent {
        display: flex !important;
        flex-direction: row !important;
        align-items: baseline !important;
    }

    .botonOk {
        align-items: end !important;
    }

    p-accordion {
        margin-left: 10px !important;
        height: 75% !important;
    }

    p-button {
        margin-top: 10px;
    }

    .p-paginator .p-paginator-pages .p-paginator-page {
        background-color: #f0f0f0; // Color de fondo
        border: 1px solid #ddd; // Añadir borde
        color: #333; // Color del texto
        min-width: 1.5rem; // Cambiar tamaño
        height: 1.5rem;
        margin: 0.5rem;
        border-radius: 20px; // Cambiar de circular a redondeado

        .p-paginator-first,
        .p-paginator .p-paginator-prev,
        .p-paginator .p-paginator-next,
        .p-paginator .p-paginator-last {
            min-width: 1rem;
        }
    }

    .p-dialog {
        max-height: 99vh !important;
        position: absolute;
        // left: -8vw;

        .p-dialog-content {
            width: fit-content !important;
            border-radius: 0px 6px 6px 10px !important;
            max-width: 80vw;
            padding: 9px 1.5rem 2rem 1.5rem;

        }
    }

    .p-dialog-draggable .p-dialog-header {
        width: fit-content !important;
    }

    .p-accordion {
        .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
            padding: .5rem !important;
            margin-bottom: .2rem !important;

        }

        .p-accordion-header-link .p-accordion-toggle-icon {
            margin-right: 0.5rem;
            margin-left: 0.5rem;
        }

        .p-accordion-content {
            padding-right: .2rem !important;
            padding-left: .2rem !important;
            padding-bottom: .2rem !important;
            padding-top: .2rem !important;
            width: max-content !important;
            border: none !important;
        }
    }

    .p-dialog-mask {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
    }

}

// Fin ::ng-deep
.rojo {
    color: red;
}

.verde {
    color: rgb(60, 233, 60);
}