
/* Root layout: left nav (20%), right map (80%) */
:host {
    display: flex;
    flex-direction: row;
    height: 95vh; /* full viewport height */
    width: 98vw;
    overflow: hidden;
}

/* Left navigation panel */
.nav{
    width: 50%;
    height: 97%;
    min-width: 160px;
    background: #ffffff;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Map area on the right */
app-map {
    width: 100%;
    height: 90%;
}

::ng-deep{
    app-area-calc{
        width: 200px !important;
        height: auto;
        margin-top: 1rem;
        padding: 0.5rem;
    }


}

// /* Make sure router outlet (if present) doesn't push layout */
// :host ::ng-deep router-outlet {
//     display: none;
// }


