/* Root layout: left nav (20%), right map (80%) */
:host {
    display: flex;
    flex-direction: row;
    height: 95vh;
    /* full viewport height */
    width: 98vw;
    overflow: hidden;
}

/* Left navigation panel */
.nav {
    width: 25%;
    height: 100%;
    min-width: 160px;
    background: #ffffff;
    // padding: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    overflow: auto;
}

/* Map area on the right */
// width: calc(100vw - 79px); coge todo el ancho pero resta de los laterales
app-map {
    width: 98%;
    height: 101%;
}

::ng-deep {
    app-area-calc {
        width: 200px !important;
        height: auto;
        margin-top: 1rem;
        padding: 0.5rem;
    }


}

.navMenu {
    width: 75px;
    height: 26px;
    position: absolute;
    top: 5rem;
    left: .5rem;
    z-index: 1000;
    background-color: #ffffff;
    border-radius: 10px;
    border: none;
    box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.3);
}

// /* Make sure router outlet (if present) doesn't push layout */
// :host ::ng-deep router-outlet {
//     display: none;
// }