<!-- Listbox - Filter de primeng para filtrar/buscar -->
<p-listbox [options]="cities" [(ngModel)]="selectedCity" [filter]="true" [style]="{ width: '15rem' }"
    [listStyle]="{'max-height': '100px'}" class="p-listbox-icon-left" (onClick)="selecState($event)">
</p-listbox>
<!-- p-autocomplete - Filter de primeng para filtrar/buscar -->
<p-autoComplete [(ngModel)]="cities" [suggestions]="cities" field='name' (completeMethod)="selecState($event)">
</p-autoComplete>

<!-- div para el mapa -->
<div id="map" class="map"></div>

<!-- Div para mostrar el letrero sobre los estados -->
<div class="letrero-info">
    <p #letreroTexto id="letreroTexto"></p>
</div>

<div class="fileUpload" *ngIf="fileUpload">Arrastrar Archivo GeoJson al mapa</div>

<!-- Div para los controles -->