<!-- Listbox - Filter de primeng para filtrar/buscar -->
<!-- <p-listbox [options]="cities" [(ngModel)]="selectedCity" [filter]="true" [style]="{ width: '15rem' }"
    [listStyle]="{'max-height': '100px'}" class="p-listbox-icon-left" (onClick)="selecState($event)">
</p-listbox> -->

<!-- p-autocomplete - Filter de primeng para filtrar/buscar -->

<button (click)="toggleMenu()" class="navMenu">Menu</button>
<!-- div para el mapa -->
<div id="map" class="map">
    <p-autoComplete [(ngModel)]="selectedState" [suggestions]="filteredStates" (completeMethod)="searchStates($event)"
        (onSelect)="onStateSelected($event)" placeholder="Buscar estado..." [dropdown]="true" [forceSelection]="true"
        [minLength]="1">
    </p-autoComplete>
</div>

<!-- Div para mostrar el letrero sobre los estados -->
<div class="letrero-info">
    <p #letreroTexto id="letreroTexto"></p>
</div>

<div class="fileUpload" *ngIf="fileUpload">Arrastrar Archivo GeoJson al mapa</div>

<!-- Div para los controles -->